@keyframes point {
  0% {
   transform: translateX(0);
  }
  100% {
    transform: translateX(.125em);
  }
}


* {
  box-sizing: border-box;
}
    

.page-contain {
  display: flex;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  /* border: .75em solid white; */
  padding: 0.2em;
  font-family: 'Open Sans', sans-serif;
}

.data-card {
  display: flex;
  flex-direction: column;
  max-width: 15.75em;
  min-height: 15.75em;
  overflow: hidden;
  border-radius: .5em;
  text-decoration: none;
  background: white;
  margin: .3em;
  padding: 1.75em 1.5em;
  box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
  transition: transform .45s ease, background .45s ease;
}

.data-card h3 {
  color: #2E3C40;
  font-size: 1.5em;
  font-weight: 900;
  line-height: 1;
  padding-bottom: .5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid aquamarine;
  transition: color .45s ease, border .45s ease;
}

.data-card h4 {
  color: #627084;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  transition: color .45s ease;
}

.data-card p {
  opacity: 0;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.8;
  margin: 0 0 1.25em;
  transform: translateY(-1em);
  transition: opacity .45s ease, transform .5s ease;
}

.data-card .link-text {
  display: block;
  color: #3bbdb9;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  margin: auto 0 0;
  transition: color .45s ease;
}

.data-card .link-text svg {
  margin-left: .5em;
  transition: transform .6s ease;
}

.data-card .link-text svg path {
  transition: fill .45s ease;
}

.data-card:hover {
  background: #71eddcf8;
  transform: scale(1.02);
}

.data-card:hover h3 {
  color: #FFFFFF;
  border-bottom-color: #3bbdb9;
}

.data-card:hover h4 {
  color: #FFFFFF;
}

.data-card:hover p {
  opacity: 1;
  transform: none;
}

.data-card:hover .link-text {
  color: #FFFFFF;
}

.data-card:hover .link-text svg {
  animation: point 1.25s infinite alternate;
}

.data-card:hover .link-text svg path {
  fill: #FFFFFF;
}




