.accordion-button{
    color:  rgb(0, 0, 0) !important;
  }
  .accordion-body{
    color:black !important;
  }
  .accordion-btn-focus-box-shadow{
    color:  aqua !important;
  }
  .last-info{
    padding: 50px;
    margin-top:80px ;
  }
  .li:hover{
    color: rgba(45, 220, 214, 0.537);
  }
  .infor-card{
    background-color: #30ccb7f1;
    border-radius: 25px;
  }